{% extends 'partials/registration_dashboard.html' %}
{% load static %}
{% block extend_head %}
  <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
{% endblock %}
{% block dash %}


<div class="align-center">
  <form class="form-signin" id="signupform" method="POST" action="/registration/sign-up">
    {% csrf_token %}

    <div class="user-box">
      <input type="text" name="first_name" required autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
      <span></span>
      <label>First name</label>
    </div>

    <div class="user-box">
      <input type="text" name="last_name" required autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
      <span></span>
      <label>Last name</label>
    </div>

    <div class="user-box">
      <input type="text" name="username" required autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
      <span></span>
      <label>Username</label>
    </div>

    <div class="user-box">
      <input type="password" class="password" name="password1" id="inputPassword" required autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
      <span></span>
      <label>Password</label>
    </div>

    <div class="user-box">
      <input type="password" class="password" name="password2" id="inputPassword" required autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
      <span></span>
      <label>Confirm password</label>
    </div>

    {{form.token}}
    
    <br/>
    <div class="flex-row-container">
      <label class="check-container">Show Password
      <input style="max-width:2rem;" type="checkbox" onclick="showPword()">
      <span class="checkmark"></span>
      </label>
    </div>

    <div class="login-button-container">
      <button class="registration-button">
          <div class="neon-button-login-form" type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign in
          </div>
      </button>
    </div>

  </form>
</div>

<script type="text/javascript">
  
  // Create a variable that can be used in main.js
  const recaptcha_site_key = '{{recaptcha_site_key|safe}}'
</script>

{% endblock dash %}