{% load static %}
<div class="primary-header flex">
  <div>
    <a href="{% url 'homepage' %}">
      <img src="{% static 'homepage/logo.gif' %}" alt="logo" class="logo">
    </a>   
  </div>
  
  <div class="mobile-nav-toggle" data-visible="false" aria-controls="primary-navigation" aria-expanded="false">
      <div class="menu-btn">
          <div class="menu-btn__burger"></div>
      </div>
  </div>
  
  <nav>
    <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">

      <li>
        <a href="{% url 'homepage' %}">Home</a>
      </li>

      <li>
        <a href="{% url 'googleapi:route' %}">Google API Project</a>
      </li>

      <li>
        <a href="{% url 'openweatherapi:openweather' %}">Open Weather API Project</a>
      </li>

      <li>
        <a href="{% url 'datascience:datascience_home' %}">Data Science Project</a>
      </li>
      
      <div class="dropdown-container" data-dropdown>
        <button class="flex-row-container" data-dropdown-button>
            Registration ⇩
        </button>

        <div class="dropdown-menu-container">
            <ul>
              <li>
                <a href="{% url 'registration:sign-in' %}">Sign In</a>
              </li>

              <li>
                <a href="{% url 'registration:sign-up' %}">Sign Up</a>
              </li>

              <li>
                <a href="{% url 'registration:sign-out' %}">Sign Out</a>
              </li>

              <li>
                <a href="{% url 'registration:account' %}">User Account</a>
              </li>

              <li>
                <a href="{% url 'registration:profile' %}">User Profile</a>
              </li>
             
            </ul>
        </div>
    </div>
</li>
     
    </ul>
  </nav>
</div>

