{% extends 'partials/datascience_dashboard.html' %}
{% load static %}
{% block dash %}

{% block extend_head %}
    <link rel="stylesheet" href="{% static 'css/googleapi.css' %}">
{% endblock %}

<div class="align-center primary-color">
    <h2 style="font-size:30px">Data science project</h2>
    <hr/>

    <h2>Step 1 - Defining the business</h2>
    <h3>Simulate a simple/basic e-commerce website.</h3>
    <hr/>

    <h2>Step 2 - Get the data</h2>
    <h3>The data is stored in the following database:</h3>
    <img src="{% static 'overviews/datascience/database.jpg' %}">
    <a href="https://github.com/titusserban/Portfolio/blob/master/datascience/models.py" target="_blank">
        <h3><i class="fab fa-github"></i> Click here to view the Django Models</h3>
    </a>
    <h3>Select the data which is relevant -> in this case, the Sales.</h3>
    <hr/>

    <h2>Steps 3 & 4 - Clean and explore the data</h2>
    <h3>Standardize the information.</h3>
    <img src="{% static 'overviews/datascience/snpdf.jpg' %}">
    <hr/>

    <h2>Step 5 - Feature engineering</h2>
    <h3>Select important features and construct more meaningful ones using the cleaned data.</h3>
    <img src="{% static 'overviews/datascience/snpmerged.jpg' %}">
    <hr/>

    <h2>Step 6 - Data visualisation</h2>
    <h3>Comunicate the findings by using plots and interactive visualisation.</h3>
    <h3>The reports are stored in the database and can be downloaded in PDF.</h3>
    <img src="{% static 'overviews/datascience/reports.jpg' %}">    
    <a href="https://github.com/titusserban/Portfolio/blob/master/datascience/views.py" target="_blank">
        <h3><i class="fab fa-github"></i> Click here to view the Django Views</h3>
    </a>
    <hr/>
</div>

{% endblock dash %}