{% extends 'partials/datascience_dashboard.html' %}
{% load static %}
{% block dash %}

<div class="align-center">
    <div class="buttons-container">
        <a class="submit-neon" href="{% url 'datascience:customer_create' %}">
            Create Customer
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.name}}</td>
                <td>
                    <a style="color:blue" href="{% url 'datascience:customer_update' obj.id %}">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>
                </td>
                <td>
                    <a style="color:red" href="{% url 'datascience:customer_delete' obj.id %}">
                        <span class="material-icons">
                            delete
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock dash %}