{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- visit https://fonts.google.com/specimen/Courier+Prime?preview.text_type=custom to get script-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

    <!-- CSS links-->
      <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/registration.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/standard_buttons.css' %}">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
                             integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
                             crossorigin="anonymous"/>

    <!-- Google fonts link -->
      <link rel="stylesheet" href="{% static 'css/google_fonts.css' %}">

    <!-- Font Awesome for nabvar -->
      <script src="{% static 'js/all.min.js' %}"></script>

    <!-- jquery -->
      <script src="{% static 'js/jquery.min.js' %}" defer></script>
      <script src="{% static 'js/jquery.datatables.min.js' %}" defer></script>
      <script src="{% static 'js/bootstrap.min.js' %}" defer></script>

    <!-- Themes -->
      <link rel="stylesheet" id="themeStylesheetLink" href="{% static 'css/themes/default.css' %}">

    <!-- https://cdnjs.com/libraries/toastr.js/latest -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" 
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- favicon --> 
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <!-- Dropzone js -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- This allows us to extend the head scripts in HTML docs that have special requirements-->
    {% block extend_head %}

    {% endblock %}

  </head>
  <body>

    <!-- Navbar extensions-->
    {% include 'partials/nav.html' %}

    <div>

      {% block content %}

      {% endblock %}

    </div>

    <!-- https://cdnjs.com/libraries/toastr.js/latest -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- This allows us to extend the foot scripts in HTML docs that have special requirements-->
    {% block extend_footer %}

    {% endblock %}

    <script src="{% static 'js/googleapi/main.js' %}" defer></script>

  </body>


<!--    Buttons bubble animation script-->
    <script src="{% static 'js/buttons_bubble_animation.js' %}" defer></script>

<!-- Mobile navigation JS -->
    <script src="{% static 'js/mobile_navigation.js' %}" defer></script>

<!-- Dropdown menu -->
<script src="{% static 'js/dropdown_menu.js' %}" defer></script>

<!-- Active navbar items -->
<script src="{% static 'js/navbar_activate_items.js' %}" defer></script>

<!-- Data labels for mobile navigation -->
<script src="{% static 'js/tables_mobile_settings.js' %}" defer></script>

</html>