{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="align-center">
    <div class="buttons-container">
        <a class="submit-neon" href="{% url 'datascience:sales_create' %}">
            Create Sale
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <h1>Sales List</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Total price</th>
                <th>Customer</th>
                <th>Salesman</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td><a href="{{obj.get_absolute_url}}">{{obj.transaction_id}}</a></td>
                <td>{{obj.total_price}}</td>
                <td>{{obj.customer}}</td>
                <td>{{obj.salesman}}</td>
                <td>{{obj.created}}</td>
                <td>{{obj.updated}}</td>
                <td>
                    <a style="color:blue" href="{% url 'datascience:sales_update' obj.id %}">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>
                </td>
                <td>
                    <a style="color:red" href="{% url 'datascience:sales_delete' obj.id %}">
                        <span class="material-icons">
                            delete
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}